
.category>:nth-child(1){
    width: 3.5rem;
    height: 3.5rem;
    fill: rgb(198,173,142);
}
.category>:nth-child(2){
    font-weight:500;
    font-size: 1.5rem;
}
.category>:nth-child(3){
    font-size: 0.9rem;
}
